main {
	margin: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(270px, 500px));
	grid-gap: 10px;
}

.main-card {
	background-color: #eceff1;
	overflow: hidden;
	margin: 0;
	padding: 10px;
	font-size: 14px;
}

.main-card a {
	text-decoration: none;
	color: black;
}

.main-card a:hover {
	color: #ffc107;
	transition-duration: .25s;
}

.main-card > img {
	width: 100%;
}

.main-card:hover img {
	transform: scale(1.05);
	transition-duration: 1s;
}

.social-icon {
	max-width: 30px;
	max-height: 30px;
}