body {
	margin: 0;
	font-family: 'Merriweather', serif;	
}

a {
	text-decoration: none;
	color: white;
}

input[type="search"],
input[type="text"],
input[type="email"] {
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 2px solid white;
}

input[type="submit"] {
	background-color: #ffc107;
	border: none;
	color: white;
	text-align: center;
}



.main-wrp {
	display: grid;
	grid-template-columns: 70% 30%;
	background-color: #546e7a; 
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	grid-template-rows: repeat(3, minmax(100px, max-content));
	grid-gap: 10px;
}

.main-card {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #eceff1;
	overflow: hidden;
}

.card-img {
	width: 100%;
}

.main-card img:hover {
	transform: scale(1.15);
	transition-duration: 3s;
}

header {
	background-color: #263238;
	color: white;
}

aside {
	background-color: #eceff1;
}

.aside-profile {
	display: flex;
}

.aside-tags {
	display: flex;
	justify-content: center;
}

footer {
	display: block;
}

.logo {
	position: absolute;
	font-size: 50px;
	margin: 0;
}

.nav-search {
	display: flex;
	justify-content: flex-end;
}

.navbar {
	display: flex;
	justify-content: flex-end;
	margin: 0px;
	margin-top: 10px;
	padding: 0;
}

.navbar li {
	display: inline;
	margin: 10px;
}

.social-item img {
	max-width: 40px;
	max-height: 40px;
}

.social-item {
	display: inline;
}

.social-icon {
	max-width: 30px;
	max-height: 30px;
}

@media screen and (max-width: 600px) {
    
}